<div id="footerwrap">
    <div class="container" itemscope itemtype="http://data-vocabulary.org/Person">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>This is a collection of my thoughts, and various sources of inspiration. The views expressed here have nothing to do with those of my employer.</p>
                <p>Theme by <a href="http://blacktie.co">Blacktie.co</a></p>
            </div>
            <div class="col-lg-4">
                <h4>Favourite Resources</h4>
                <div class="hline-w"></div>
                <ul>
                    <li><a href="https://www.youtube.com/user/MeadesShrine">Jonathon Meades</a></li>
                    <li><a href="http://www.ubu.com/">Ubuweb</a></li>
                    <li><a href="http://www.savagelovecast.com/">Dan Savage</a></li>
                    <li><a href="https://www.youtube.com/user/crashcourse">Crash Course</a></li>
                    <li><a href="http://www.dancarlin.com/hardcore-history-series/">Dan Carlin</a></li>
                </ul>
            </div>
            <div class="col-lg-4" >
                <h4>Basic Info</h4>
                <div class="hline-w"></div>
                <p>
                    <span itemprop="name">Simon Maxwell-Stewart</span><br/>
                    <em itemprop="jobTitle">Software Developer</em>
                </p>
                <p>
                    <a href="http://smaxwellstewart.com" itemprop="url"><i class="fa fa-dribbble"></i></a>
                    <a href="https://twitter.com/kidtronnix"><i class="fa fa-twitter"></i></a>
                    <a href="http://lnkd.in/dme_hnt"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/smaxwellstewart"><i class="fa fa-github"></i></a>
                </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->
