<!-- *****************************************************************************************************************
HEADERWRAP
***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Adventures of a Curious Fellow</h3>
                <h1 itemprop="name">Simon Maxwell-Stewart</h1>
                <h5>A bunch of different things.</h5>
                <h5>My current fun!</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="http://hapijs.com/public/img/logo.svg" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
SERVICE LOGOS
***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-offset-4 col-md-4">
                <i class="fa fa-heart-o"></i>
                <p><em>"The everyday is not the same as the banal,<br/>unless we let it."</em><br/><strong>Jonathon Meades<strong<</p>
                    <!-- <p style="font-size:23px; font-weight: 100; color: grey;"><em>"Look up."</em></p> -->
                </div>
                <!-- <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
            <i class="fa fa-trophy"></i>
            <h4></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
        </div> -->
    </div>
</div><!--/container -->
</div><!--/service -->

<!-- *****************************************************************************************************************
PORTFOLIO SECTION
***************************************************************************************************************** -->
<blog-isotope></blog-isotope>




<!-- *****************************************************************************************************************
MIDDLE CONTENT
***************************************************************************************************************** -->
<div class="container mtb">
<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        <h4 itemprop="title">Software Developer</h4>
        <p>I’m a professional software developer. With experience in developing realtime web apps, data analysis and reporting, with mobile and tablet interfaces.</p>
        <p>I am currently working on various open source projects.</p>
        <p><br/><a href="/cv" class="btn btn-theme">Browse CV</a></p>
    </div>

    <div class="col-lg-3">
        <h4>My Projects</h4>
        <div class="hline"></div>
        <p><a href="https://github.com/smaxwellstewart/hapi-dash/">Boilerplate Dashboard</a></p>
        <p><a href="https://www.npmjs.org/package/toothache">NPM package: Toothache</a> </p>
        <p><a href="/blog?category=tech">Tech Blog</a></p>
    </div>

    <div class="col-lg-3">
        <h4>Open Sources</h4>
        <div class="hline"></div>
        <p><a href="http://hapijs.com">Hapi.js</a></p>
        <p><a href="http://blacktie.co">Awesome free html5 themes!</a></p>
        <p><a href="http://mongodb.org">MongoDB</a></p>
    </div>

</div><!--/row -->
</div><!--/container -->

<!-- *****************************************************************************************************************
TESTIMONIALS
***************************************************************************************************************** -->
<div id="twrap">
<div class="container centered">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p>Having worked with Simon on various projects over the past 2 years, I can say that he is one of the best developers I have worked with. Not only is he willing and able to tackle the most difficult tasks and work with the latest tools, but most importantly, he knows when to question everything to ensure the best outcome.</p>
            <h4><br/>Rob Shuter</h4>
            <p>SYSTEM D TECHNOLOGIES - Founder</p>
        </div>
    </div><!--/row -->
</div><!--/container -->
</div><!--/twrap -->
